doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial scale=1")
    title Transitions Playground
    link(rel='stylesheet', href='css/main.css')
  body
    .sitetag
      ul.author
        li Up arrow: previous
        li Down arrow: next
      .domain
        .title Transitions Playground
        .url jcarpenter.github.io/vr-transitions/
        .tech Three.js, Tween.js

    ul#transitions

    #fullscreenButton Fullscreen

    #container

    script(type="text/javascript", src="js/tween.min.js")
    script(type="text/javascript", src="js/three.min.js")
    script(type="text/javascript", src="js/VREffect.js")
    script(type="text/javascript", src="js/VRControls.js")

    script(type="text/javascript", src="js/loadlist.js")
    script(type="text/javascript", src="js/main.js")