doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial scale=1")
    title VR Lab
    link(rel='stylesheet', href='css/main.css')
  body
    .sitetag
      //- ul.instructions
      //-   li Up arrow: previous
      //-   li Down arrow: next
      .domain
        .title VR Lab: Tests, Transitions, Mockups
        .url jcarpenter.github.io/vr-lab/
        .tech Made with Three.js & Tween.js

    ul#links

    #fullscreenButton Fullscreen

    script(type="text/javascript", src="js/tween.min.js")
    script(type="text/javascript", src="js/three.min.js")
    script(type="text/javascript", src="js/MouseControls.js")
    script(type="text/javascript", src="js/VREffect.js")
    script(type="text/javascript", src="js/VRControls.js")
    script(type="text/javascript", src="js/webvr-polyfill.js")
    script(type="text/javascript", src="js/webvr-manager.js")

    script(type="text/javascript", src="js/demoList.js")
    script(type="text/javascript", src="js/main.js")