doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial scale=1")
    title Transitions 1
    link(rel='stylesheet', href='css/transitions.css')
  body

    #container

    script(type="text/javascript", src="js/tween.min.js")
    script(type="text/javascript", src="js/three.min.js")
    script(type="text/javascript", src="js/effects/VREffect.js")
    script(type="text/javascript", src="js/controls/VRControls.js")
    script(type="text/javascript", src="js/transitions-1.js")